*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:"Poppins,sans-serif";
    font-size: 15px;
   
}
html{
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(#9D50BB,#6E48AA,#4BC0C8);
    background-attachment: fixed;

}

header{
    border: solid;
    width: 100%;
    height: 50px;
    margin: auto;
}

.form-area{
    display: none;
    position: relative;
    width: 30%;
    height: 30rem;
    margin:auto;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8px);
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid (255,255,255,0.2);
    border-bottom: 1px solid (255,255,255,0.2);
  
    
}
.form-area form{
    width: 80%;
    height: 400px; 
    margin: 0px auto; 
    margin-top: 50px;

}


.form-area form input{
    width: 80%;
    background: rgba(255,255,255,0.001);
    border:none;
    border-bottom: dotted;
    border-color: #000000;
    outline: none;
    padding:10px 20px;
    margin:20px;
    border-right: 1px solid (255,255,255,0.2);
    border-bottom: 1px solid (255,255,255,0.2);


}

.check-read{
    width: 100%;
    height: 20px;
    display: flex;
    align-items:center;
    position: relative;
    margin:20px 20px ;
   
}

.check-read input[type="checkbox"]{
    margin-left: -110px;

}

    
.btn{
    outline: none;
    border:none;
    background: rgba(255,255,255,0.001);
    cursor: pointer;
}

#add-form{
    margin-left: 20px;
    width: 80%;
    height: 60px;
    border-radius: 10px;
}

.close{
    position:absolute;
    height: 2rem;
    width: 2rem;
    background: rgba(255,255,255,0.001);
    top:0;
    right:0;
    color:#C70039 ;
    font-size:2rem;
    font-weight: 200;
}


#add-book{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom:20px;
    right: 50px;
    
}

#ad-form,#add-book{
    box-shadow: 0 25px 45px rgba(0,0,0,0.5);
}

#add-form:hover{
    color : #ffffff;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.5);
}
