
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Dongle', sans-serif;
    font-size: 10px;
   
}
html{
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(#90afc5,#0499fcfb);
    background-attachment: fixed;


}



header{
    width: 100%;
    height: 200px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
}

.form-area{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 20px;
    z-index:200;
    display: none;
    width:35%;
    height: 600px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8px);
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid (255,255,255,0.2);
    border-bottom: 1px solid (255,255,255,0.2);

}

.form-area form{
    width: 80%;
    height: 400px; 
    margin: 0px auto; 
    margin-top: 50px;
  }

.form-area form input{
    width: 80%;
    background: rgba(255,255,255,0.001);
    border:none;
    border-bottom: dotted;
    border-color: #000000;
    outline: none;
    padding:10px 20px;
    margin:20px;
    border-right: 1px solid (255,255,255,0.2);
    border-bottom: 1px solid (255,255,255,0.2);
    font-family: 'Dongle', sans-serif;
    font-size: 4rem;
}

#book-form ::placeholder{
    color: #000000;
    font-size:3rem;
    font-weight: bolder;
}

.check-read{
    width: 100%;
    height: 20px;
    display: flex;
    align-items:center;
    position: relative;
    margin:20px 20px ;
    
}
.check-read label{
   font-size:2.5rem;
    font-weight: bolder;
}

.check-read input[type="checkbox"]{
    margin-left: -110px;

}
.check-read input[type="checkbox"]{
    margin-left: -110px;

}
    
.btn{
    outline: none;
    border:none;
    background: rgba(255,255,255,0.001);
    box-shadow: 0 25px 45px rgba(0,0,0,0.5);
    cursor: pointer;
    font-family: 'Dongle', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bolder;
    width: 80%;
    height: 60px;
    border-radius: 10px;
    
 
}

form button{
    text-align: center;
    display: block;
    margin: 0 auto;
}

.close{
    position:absolute;
    height: 2rem;
    width: 2rem;
    background: rgba(255,255,255,0.001);
    top:0;
    right:0;
    color:#C70039 ;
    font-size:2rem;
    font-weight: 200;
    border:none;
    cursor:pointer;
}


#add-book{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom:20px;
    right: 50px;
    
        
}

.fa-plus{
    font-size: 2.5rem;
    width: 80%;
    line-height: 50px;

    
}
.btn:hover{
    color : #ffffff;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.5);
}

#library-view{
    margin:auto;
    margin-top: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows:repeat(3, 1fr) ;
    grid-gap:10px;

 }

.book-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    border:solid;
    height: 300px;
    width: 300px;
    word-wrap: break-word;
    word-break: break-all; 
}

.book-card{
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid (255,255,255,0.2);
    border-bottom: 1px solid (255,255,255,0.2);
    border-radius: 10px;
}

h3{
    font-size: 2.5rem;
    text-align: center;
    
}
   
.delete-book:hover{
    color : #ffffff;
    background-color: rgba(248, 8, 8, 0.644);
        
}

h1{
    font-size: 10rem;
    position: relative;
    margin-right: 100px;
    font-family: 'Great Vibes';
    color:#ffffff;
}

main{
   width: 80%;
   height:auto;
   top: 200px;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
}

.logo-container{
    width: 50%;
    height: 200px;
    position:relative;
}

.logo{
    max-width:100%;
    max-height:100%;    
}
.read-book,.delete-book{
    margin-bottom: 5px;
    height: 50px;
    text-align: center;
    display: block;
    margin: 0 auto;
}
